body{
    background: #f5f5f5;
}
/*主体容器*/
.jd_layout{
    width: 100%;
    max-width: 640px;/*因为通用的设计稿是640px 如果是750px设计稿  最大宽度设置750*/
    min-width: 320px;/*保证我们的布局比较正常 一般手机的宽度都比320大*/
    margin: 0 auto;
    position: relative;
}

/*搜索*/
.jd_header{
    position: fixed;/*fixed的定位是以window开始 宽度的计算也是*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.jd_header .jd_header_box{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: rgba(201,21,35,0);/*rgba(201,21,35,0.85);*/
    height: 40px;
    position: relative;
}
.jd_header .jd_header_box .icon_logo{
    position: absolute;
    left: 10px;
    top: 4px;
    width: 60px;
    height: 36px;
    background-position: 0 -103px;
}
.jd_header .jd_header_box form{
    width: 100%;
    padding-left: 75px;
    padding-right: 50px;
    position: relative;
}
.jd_header .jd_header_box form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 25px;
}
.jd_header .jd_header_box form .icon_search{
    position: absolute;
    left: 80px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-position:-60px -109px;
}
.jd_header .jd_header_box .login{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 40px;
    width: 50px;
    color: #fff;
}

/*轮播图*/
.jd_banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.jd_banner ul:first-child{
    width: 1000%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}
.jd_banner ul:first-child li{
    width: 10%;
    float: left;
 }
.jd_banner ul:first-child li a{
    display: block;
    width: 100%;
}
.jd_banner ul:first-child li a img{
    width: 100%;
    display: block;
}
.jd_banner ul:last-child{
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 118px;
    margin-left: -59px;
}
.jd_banner ul:last-child li{
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}
.jd_banner ul:last-child li:first-child{
    margin-left: 0;
}
.jd_banner ul:last-child li.now{
    background: #fff;
}

/*导航栏*/
.jd_nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.jd_nav ul{
    width: 100%;
    padding: 10px 0;
}
.jd_nav ul li {
    width: 25%;
    float: left;
}
.jd_nav ul li a{
    width: 100%;
    display: block;
    text-align: center;
}
.jd_nav ul li a img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.jd_nav ul li a p{
    font-size: 12px;
    color: #666;
    padding: 10px 0;
}

.jd_product{
    padding: 0 5px ;
}
/*内容 公用盒子*/
.jd_product_box{
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 1px #ccc;
    background: #fff;
}
.jd_product_box .jd_product_tit{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e0e0e0;
}
.jd_product_box .jd_product_tit.no_border{
    border-bottom:none;
}
.jd_product_box .jd_product_tit h3{
    font-weight: normal;
    position: relative;
    padding-left: 20px;
}
.jd_product_box .jd_product_tit h3::before{
    content: "";
    width: 3px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 11px;
    background: #d8505c;
}

/*秒杀模块*/
.sk_icon{
    float: left;
    width: 16px;
    height: 20px;
    background-image: url("../images/seckill-icon.png");
    background-size: 16px 20px;
    margin-top: 7px;
}
.sk_name{
    float: left;
    color: #d8505c;
    margin-left: 10px;
}
.sk_time{
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}
.sk_time span{
    width: 15px;
    height: 15px;
    background: #333;
    color: #fff;
    line-height: 15px;
    text-align: center;
    float: left;
    margin-left: 3px;
}
.sk_time span:nth-child(3n){
    background: #fff;
    width: 3px;
    color: #333;
}

.sk_product{
    width: 100%;
}
.sk_product li{
    width: 33.3333%;
    float: left;
    text-align: center;
    font-size: 12px;
}
.sk_product li a{
    width: 100%;
    display: block;
    border-right: 1px solid #ccc;
}
.sk_product li:last-child a{
    border-right: none;
}
.sk_product li a img{
    width: 64%;
    margin: 0 auto;
}
.sk_product li .new_price{
    color: #d8505c;
    padding: 5px 0;
}
.sk_product li .old_price{
    color: #666;
    text-decoration: line-through;
    padding: 5px 0;
}

/*组合样式*/
.w_50{
    width: 50%;
}
.w_50 img{
    display: block;
    width: 100%;
}
.b_left{
    border-left: 1px solid #e0e0e0;
}
.b_right{
    border-right: 1px solid #e0e0e0;
}
.b_bottom{
    border-bottom: 1px solid #e0e0e0;
}





